@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    color:lightgreen;
    background-color: slategrey;
    text-shadow: 1px 1px 0px #ff0000;
    
}
img {
    width:25%;
    
}
.img2 {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
h1{
    margin:auto;
    padding:2%;
}
ol {
    list-style-type: none;
    box-shadow: .5rem .5rem 1rem .5rem rgba(0, 0, 0, 0.5);
    padding-top:5px;
    padding-bottom:5px;
    margin-top:2%;
    
}
li {
    padding:1%;
}
.controls{
    padding:2%;
}
.listBox {
    
    border:3px groove rgb(196, 195, 195);
    -webkit-box-shadow: 0px 15px 15px 20pxrgba(0, 0, 0, 0.2); 
    box-shadow: 0px 15px 15px 20px rgba(0, 0, 0, 0.2);
    background: rgb(145,146,147);
    background: linear-gradient(90deg, rgba(145,146,147,1) 0%, rgba(64,64,64,1) 10%, rgba(64,64,64,1) 90%, rgba(145,146,147,1) 100%);
}

nav{
    max-height: auto;
}
nav ol{
    height:200px; width:18%;
    overflow:hidden; 
    overflow-y:scroll;
}

.bigListBox{
    border: 10px solid rgba(145,146,147,1);
    -webkit-box-shadow: 0px 15px 15px 20pxrgba(0, 0, 0, 0.2); 
    box-shadow: 0px 15px 15px 20px rgba(0, 0, 0, 0.2);
    border-radius:50px;
    background: rgb(131,131,131);
    background: linear-gradient(90deg, rgba(131,131,131,1) 0%, rgba(80,80,80,1) 4%, rgba(80,80,80,1) 96%, rgba(131,131,131,1) 100%);}
li:nth-child(even) {
    background: rgb(145,146,147);
    background: linear-gradient(90deg, rgba(145,146,147,1) 0%, rgba(64,64,64,1) 10%, rgba(64,64,64,1) 90%, rgba(145,146,147,1) 100%);

}
li:nth-child(odd) {
    background: rgb(208,208,208);
background: linear-gradient(90deg, rgba(208,208,208,1) 0%, rgba(129,128,128,1) 10%, rgba(129,128,128,1) 90%, rgba(208,208,208,1) 100%);
    background-color: rgb(148, 147, 147);
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
li:hover{   
    color:silver;
    background:lightgreen!important;

}
a:target{
    color: silver;
}

input[type=range] {
  width: auto;
  margin: 14.35px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #ef5fbd;
  border: 0.3px solid #000000;
  border-radius: 16.2px;
  width: 100%;
  height: 7.3px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8px;
  width: 20px;
  height: 20px;
  background: #90ee90;
  border: 2.9px solid #1c1bff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #faceeb;
}
input[type=range]::-moz-range-track {
  background: #ef5fbd;
  border: 0.3px solid #000000;
  border-radius: 16.2px;
  width: 100%;
  height: 7.3px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 36px;
  background: #90ee90;
  border: 2.9px solid #1c1bff;
  border-radius: 3px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.35px 0;
  color: transparent;
  width: 100%;
  height: 7.3px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #c01384;
  border: 0.3px solid #000000;
  border-radius: 32.4px;
}
input[type=range]::-ms-fill-upper {
  background: #ef5fbd;
  border: 0.3px solid #000000;
  border-radius: 32.4px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #90ee90;
  border: 2.9px solid #1c1bff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #ef5fbd;
}
input[type=range]:focus::-ms-fill-upper {
  background: #faceeb;
}